.card {
	border: 2px solid black;
	border-radius: 8%;
	width: 10rem;
	height: 13rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	background: #fff;
	font-size: 2rem;
	font-weight: bold;
	margin: 1rem;
}

.card--red {
	color: red;
}

.card__corner {
	position: absolute;

	&:first-of-type {
		top: 1rem;
		left: 1rem;
	}

	&:nth-of-type(2) {
		top: 1rem;
		right: 1rem;
	}

	&:nth-of-type(3) {
		bottom: 1rem;
		left: 1rem;
	}

	&:nth-of-type(4) {
		bottom: 1rem;
		right: 1rem;
	}
}
